@using NC.WebEngine.Core.Content;
@using NC.WebEngine.ViewModels;
@using NC.WebEngine.Core;

@model ContentRenderModel

@{
    Layout = "Theme.cshtml";
}

@section Menu {

    <ul class="nav nav-primary">
        <li><a href="@(Model.ContentPage.Url)" class="active"><i class="li-pen"></i>
            <span ncweb-contentpart="Title"
                  readonly></span>    
        </a>
        </li>
        <li><a href="/blog"><i class="li-pen"></i>Blog</a></li>
        <li><a href="/"><i class="li-home"></i>Back to Start</a></li>
    </ul>
}

<div class="container container-md">
    <!-- BG Side -->
    <div class="bg-side bg-left">
        <img src="/assets/img/items/glasses.png" alt="" class="mb-100">
        <img src="/assets/img/items/coffee.png" alt="">
    </div>

    <!-- BG Side -->
    <div class="bg-side bg-right">
        <img src="/assets/img/items/plant.png" alt="">
    </div>

    <!-- Post / Single -->
    <article class="post single">
        <nav class="post-nav btn-group">
            <a href="#" class="btn btn-secondary btn-sm"><i class="ti-angle-left"></i></a>
            <a href="#" class="btn btn-secondary btn-sm"><i class="ti-layout-grid2"></i></a>
            <a href="#" class="btn btn-secondary btn-sm"><i class="ti-angle-right"></i></a>
        </nav>
        <span class="date text-muted">
            @(Model.ContentPage.Created.ToString("d MMMM yyyy"))
        </span>
        <h1 class="post-title"
            ncweb-contentpart="Title">
            Road to success
        </h1>
        <ul class="post-meta">
            <li><i class="li-feedback"></i>- feedback</li>
        </ul>
        <div class="post-image">
            <img src="/assets/img/posts/post01.jpg" alt=""
                 ncweb-editableimage="/images/blog/@(Model.ContentPage.Id)/Intro.png">
        </div>
        <div class="post-content"
             ncweb-blockcontent>
        </div>

    </article>
</div>