@using NC.WebEngine.Core.Content;
@using NC.WebEngine.ViewModels;
@using NC.WebEngine.Core;

@model ContentRenderModel

@{
    Layout = "Theme.cshtml";
}

@section Nav
    {

    <nav class="header-nav">
        <ul class="nav-list" id="navbar">
            <li class="nav-item" data-menuanchor="home"><a class="nav-link" href="/#home">home</a></li>
            <li class="nav-item" data-menuanchor="about"><a class="nav-link" href="/#about">about</a></li>
            <li class="nav-item" data-menuanchor="projects"><a class="nav-link" href="/#projects">portfolio</a></li>
            <li class="nav-item" data-menuanchor="blogs"><a class="nav-link" href="/#blogs">blogs</a></li>
        </ul>

    </nav>
}

<div class="hero-inner hero-blog">
    <div class="hero-inner-cnt js-hero" style="background-image: url(https://picsum.photos/id/57/1920/1080)">
        <div class="container">
            <h1 class="hero-inner__title anuphan"
                ncweb-contentpart="Title">
            </h1>
        </div>
    </div>
</div>


<section class="blog">
    <div class="container">
        <div class="row blog-block">
            <p class="blog-date"
               ncweb-itemdate="@(this.Model.ContentPage.Created.ToUnixTimeMilliseconds())"
               ncweb-itemdateformat="dd MMMM yyyy">
                @(this.Model.ContentPage.Created.ToString("d MMMM yyyy"))
            </p>
            <div class="blog-txt anuphan"
                 ncweb-blockcontent>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementsByTagName("html")[0].classList.add("inner-page");
    document.getElementsByTagName("body")[0].classList.add("inner-page");
</script>