@using NC.WebEngine.Core.Content;
@using NC.WebEngine.ViewModels;
@{
    Layout = "Theme.cshtml";
}
@model ContentRenderModel



<!-- Section / Home -->
<section id="home" class="section fullheight text-xs-center">

    <!-- BG Image -->
    <div class="bg-image bg-fixed">
        <img src="assets/img/photos/agency_bg01.jpg" alt="">
    </div>

    <div class="v-center container-fluid container-custom">
        <h1 class="display-1 mb-40"
            ncweb-contentpart="Title">
            We are agency
        </h1>
        <div class="btn-group" data-local-scroll
             ncweb-contentpart="Title">
            <a class="btn btn-primary">
                Our portfolio
            </a>
            <a href="#about" class="btn btn-secondary">About Us</a>
        </div>
    </div>

</section>

