<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title goes here</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/theme/css/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;400;700&family=Prompt:wght@200;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- header, page nav-->
    <header class="header">
        <div class="header-inner">
            <div class="header-logo">
                <img src="" width="30" nocrop
                     ncweb-editableimage="/images/logo-small.png" />
            </div>
            <div class="container">
                <div class="header-cnt js-header-cnt">
                    <div class="header-cnt-top">

                        @RenderSection("Nav")

                    </div>
                    <div class="header-contacts">
                        <!-- social media-->
                        <div class="social">
                            <ul class="social-list">
                                <li class="social-item"><a class="social-link" href="#"><i class="svg-image-facebook"></i></a></li>
                                <li class="social-item"><a class="social-link" href="#"><i class="svg-image-instagram"></i></a></li>
                                <li class="social-item"><a class="social-link" href="#"><i class="svg-image-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <span class="header-contacts__link"
                              ncweb-contentpageid="1"
                              ncweb-contentpart="Telephone">
                            +669 8259 1133
                        </span>
                        <p class="header-contacts__copyright">
                            &copy;
                            <span ncweb-contentpageid="1"
                                  ncweb-contentpart="Copyright">
                                NantCom Co., Ltd.
                            </span>
                            @(DateTime.Now.Year).

                        </p>
                    </div>
                </div>
            </div>
            <a class="header-contacts__link header-phone" href="tel:+66982591133">
                +669 8259 1133
            </a>
            <div class="header-burger js-header-burger">
                <div class="header-burger-inner"><span class="header-burger-line"></span><span class="header-burger-line"></span><span class="header-burger-line"></span></div>
            </div>
        </div>
    </header>
    <!-- social media-->
    <div class="social">
        <ul class="social-list">
            <li class="social-item"><a class="social-link" href="#"><i class="svg-image-facebook"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="svg-image-instagram"></i></a></li>
            <li class="social-item"><a class="social-link" href="#"><i class="svg-image-linkedin"></i></a></li>
        </ul>
    </div>
    <!-- Page content-->
    <main class="main">
        <div class="sections-wrap">


            <div class="sections js-sections">

            @RenderBody()

            </div>
            <div class="section-scroll js-section-scroll"></div>


        </div>
    </main>
    <!-- footer-->
    <footer class="footer">
        <div class="container-fluid">
            <p class="footer-copyright">
                &copy; @(DateTime.Now.Year)
                <span ncweb-contentpageid="1"
                      ncweb-contentpart="Copyright">
                    NantCom Co., Ltd.
                </span>
            </p>
            <a class="top-arrow" href="#"><i class="svg-image-arrow-top"></i></a>
        </div>
    </footer>
    <script src="/theme/js/jquery.min.js"></script>
    <script src="/theme/js/bootstrap.bundle.min.js"></script>
    <script src="/theme/js/jquery.magnific-popup.min.js"></script>
    <script src="/theme/js/jquery.pagepiling.min.js"></script>
    <script src="/theme/js/jquery.validate.min.js"></script>
    <script src="/theme/js/swiper-bundle.min.js"></script>
    <script src="/theme/js/main.js"></script>
</body>
</html>