@gold: #FDE3A7;

.header {
    text-shadow: 0 0 20px black;
}

.anuphan, .anuphan * {
    font-family: Anuphan !important;
}

.header-contacts__link a {
    color: @gold;
}

h3.services-subtitle {
    margin-bottom: 50px;
    font-weight: 700;
}

.services-title, .pi-item__title {
    color: lighten(@gold, 10%);
}

.services-item__title {
    font-family: "NeueMontreal-Medium" !important;
    margin-bottom: 14px;
    font-size: 110%;
    color: lighten(@gold, 10%);
}

.projects-list__img img {
    height: 80%;
    width: auto;
}

.content-marquee {
    > div {
        display: flex;

        div {
            align-self: center;
        }
    }
}

.hero.section-inner {
    position: relative;
    overflow: hidden;

    video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.news-item {
    margin-bottom: 25px;
}

.footer {
    background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
    padding-top: 30px;
}

.header {
    backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
}

.inner-page {

    .header {
        background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
    }
}

.projects-list__txt {

    text-shadow: 0 0 20px black;

    & > a {
        font-size: 18px;
        display: block;
        color: @gold;
    }
}

.hero-blog {

    .hero-inner__title {
        font-weight: 700;
        text-shadow: 0 0 30px black;
    }
}

.blog-txt {
    font-size: 18px;

    .figure {
        position: relative;
        padding: 0;
        display: block;
        text-align: center;
        box-shadow: 0 0 30px inset rgba(0,0,0,0.1);
        overflow: hidden;
        background-color: #eee;

        img {
            width: 100%;
            margin: 0;
            box-shadow: 0 0 30px rgba(0,0,0,0.5);
        }

        figcaption {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}

[ncweb-blockcontent], [ncweb-blockcontent] #preview {
    > * {
        margin-top: 0px !important;
        margin-bottom: 1.5rem;
        padding: 0;
        line-height: 160%;
    }

    li {
        margin-left: 2rem;
        padding-left: 1rem;
        margin-bottom: 1.5rem;
    }

    li:first-child {
        margin-top: 1.5rem;
    }

    > h1, > h2, > h3, > h4, > h5, > h6 {
        margin-top: 40px !important;
    }

    > .ncweb-imageblock.stretched {
        img {
            width: 100%;
        }
    }

    > .ncweb-imageblock.backgrounded {
        background-color: #ffda00;
        overflow: hidden;

        img {
            margin: auto;
            display: block;
            box-shadow: 0 0 20px black;
        }
    }
}

.ce-popover__item {

    * {
        color: #0f0f0f !important;
    }
}


.ce-toolbar__actions {
    background-color: white;
}