h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
body,
table,
.btn,
a,
.price-table .btn-bottom,
#footer .module,
.nav-primary li > a {
  font-family: 'Anuphan';
}
html,
body,
table,
p,
div,
.btn {
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 145%;
}
.blockquote p {
  font-size: 1.5rem;
}
.feature .icon {
  width: 70px;
  margin-bottom: 18px;
}
.feature h5 {
  margin-bottom: 14px !important;
}
.price-table .btn-bottom {
  font-size: 20px;
  font-weight: 400;
}
[ncweb-blockcontent] > *,
[ncweb-blockcontent] #preview > * {
  margin-top: 0px !important;
  margin-bottom: 1.5rem;
  padding: 0;
  line-height: 160%;
}
[ncweb-blockcontent] li,
[ncweb-blockcontent] #preview li {
  margin-left: 2rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}
[ncweb-blockcontent] li:first-child,
[ncweb-blockcontent] #preview li:first-child {
  margin-top: 1.5rem;
}
[ncweb-blockcontent] > h1,
[ncweb-blockcontent] #preview > h1,
[ncweb-blockcontent] > h2,
[ncweb-blockcontent] #preview > h2,
[ncweb-blockcontent] > h3,
[ncweb-blockcontent] #preview > h3,
[ncweb-blockcontent] > h4,
[ncweb-blockcontent] #preview > h4,
[ncweb-blockcontent] > h5,
[ncweb-blockcontent] #preview > h5,
[ncweb-blockcontent] > h6,
[ncweb-blockcontent] #preview > h6 {
  margin-top: 40px !important;
}
[ncweb-blockcontent] > .ncweb-imageblock.stretched img,
[ncweb-blockcontent] #preview > .ncweb-imageblock.stretched img {
  width: 100%;
}
[ncweb-blockcontent] > .ncweb-imageblock.backgrounded,
[ncweb-blockcontent] #preview > .ncweb-imageblock.backgrounded {
  background-color: #ffda00;
  overflow: hidden;
}
[ncweb-blockcontent] > .ncweb-imageblock.backgrounded img,
[ncweb-blockcontent] #preview > .ncweb-imageblock.backgrounded img {
  margin: auto;
  display: block;
  box-shadow: 0 0 20px black;
}